Source: ros-noetic-rm-controllers
Section: misc
Priority: optional
Maintainer: Qiayuan Liao <liaoqiayuan@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-rm-controllers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-gpio-controller, ros-noetic-mimic-joint-controller, ros-noetic-rm-calibration-controllers, ros-noetic-rm-chassis-controllers, ros-noetic-rm-gimbal-controllers, ros-noetic-rm-orientation-controller, ros-noetic-rm-shooter-controllers, ros-noetic-robot-state-controller, ros-noetic-tof-radar-controller
Description: Meta package that contains package for RoboMaster.
